html,
body {
    overflow-y: auto;
}

.addMrg {
    margin: 10px;
}

.person-profile-picture {
    height: 120px;
}

input:invalid,
.form-control.ng-invalid-required,
.ng-invalid-pattern:not(.ng-valid) {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

label.required-label:after {
    content: '';
    font-size: 11px;
    color: #a94442;
    letter-spacing: 0.5px;
    text-transform: none;
}

.modal {
    right: 25%;
    left: 25%;
}

.formBorder {
    border-left: 1px solid #ddd;
}

.rightAlign {
    text-align: right;
}

.leftPanel {
    color: #696969;
    font-family: 'robotomedium';
}

.leftPanel .listItems,
.form-group {
    list-style-type: none;
    outline: none;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer div {
    width: 216px;
    height: 32px;
    background: #2C487C;
    text-align: center;
    border-radius: 5px;
    float: right;
    padding-top: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.delGlph {
    cursor: pointer;
}