<div class="row">
    <div class="col-xs-2">
        <div ng-if="showDownloadBtn" class="leftPanel">
            <li class="rightAlign form-group" draggable="true" onDragstart="angular.element(this).scope().safeDesnCtlr.drag(event)">Add image</li>
            <h3 class="rightAlign">Available fields</h3>
            <inputfield for="Name" class="form-label required-label"></inputfield>
            <ul data-ng-repeat="field in safeDesnCtlr.listOfAvailableFields" class="rightAlign">
                <li class="listItems" data-ng-dblclick="safeDesnCtlr.addField(field.labelTxt)" draggable="true" onDragstart="angular.element(this).scope().safeDesnCtlr.drag(event)">{{field.labelTxt}}</li>
            </ul>
        </div>
    </div>

    <div class="col-xs-10" ng-class="{formBorder: showDownloadBtn}">
        <div>
            <div class="fileContainer">
                <div>Click here to Upload File</div>
                <input class="fileinput-filename" type="file" ng-model="safeDesnCtlr.fileData" onchange="angular.element(this).scope().safeDesnCtlr.loadFile(event)" />
            </div>
            <div id="formToEdit"></div><br>
            <button ng-if="showDownloadBtn" class="btn btn-default" data-ng-click="safeDesnCtlr.downloadAsHtml()">Download Form</button>
        </div>
    </div>
</div>