<div class="">
  <div class="modal-header" id="modal-header">
    <div class="">
      <h3>Label Properties</h3>
    </div>
  </div>
  <div class="modal-body row">
    <div class="form-group">
      <label for="labelTxt" class="col-xs-4 form-label">Label Value</label>
      <div class="col-xs-6">
        <input class="form-control" id="labelTxt" type="text" ng-model="LabelPropCtrl.textValue">
      </div>
    </div>
  </div>
  <div class="modal-footer" id="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="LabelPropCtrl.closeModal()">Close</button>
    <button type="button" class="btn btn-default" data-ng-click="LabelPropCtrl.save()">Save</button>
  </div>
</div>

