<form name="{{$ctrl.parentCtrl.employerDetailsForm}}" confirm-on-exit="" id="employerDetailsForm">
    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Information</h3>
        <div class="col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{'has-error': employerDetailsForm.name.$invalid}">
                <label for="Name" class="form-label required-label">Name</label>
                <input type="text" id="Name" class="form-control" name="name" ng-model="$ctrl.parentCtrl.employer.Name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
                <label for="StartDate" class="form-label">Start Date</label>
                <input id="StartDate" size="10" type="text" class="form-control" data-autoclose="1" placeholder="" ng-model="$ctrl.parentCtrl.employer.StartDate" data-date-format="MMM dd, yyyy" bs-datepicker ng-change="$ctrl.dateValidation()" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="EndDate" class="form-label">End Date</label>
                <input id="EndDate" size="10" type="text" class="form-control" data-autoclose="1" placeholder="" ng-model="$ctrl.parentCtrl.employer.EndDate" data-date-format="MMM dd, yyyy" bs-datepicker ng-change="$ctrl.dateValidation()" autocomplete="off">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group">
                <label for="Status" class="form-label">Status</label>
                <div class="select-wrap">
                    <select class="form-control" id="Status" ng-model="$ctrl.parentCtrl.employer.Status" ng-options="status.Name as status.Value for status in $ctrl.StatusOptions">
                        <option value="" ng-disabled="true">Status</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="EmployerType" class="form-label">Employer Type</label>
                <div class="select-wrap">
                    <select class="form-control" id="EmployerType" ng-model="$ctrl.parentCtrl.employer.Type" ng-options="type.Name as type.Value for type in $ctrl.employerTypes">
                        <option value="" ng-disabled="true">Employer Type</option>
                    </select>
                </div>
            </div>
        </div>
    </div>


    <div class="row form-heading">
        <h3 class="col-xs-12">Employer Contact Details</h3>
        <div class="col-sm-6 col-xs-12 ">
            <div class="form-group ">
                <label for="EmployerName" class="form-label">Employer Name</label>
                <input type="text" id="EmployerName" class="form-control" name="Name" ng-model="$ctrl.parentCtrl.employer.EmployerName" placeholder="" required>
            </div>
            <div class="form-group ">
                <label for="City" class="form-label">City</label>
                <input type="text" id="City" class="form-control" ng-model="$ctrl.parentCtrl.employer.ContractCity" placeholder="">
            </div>

            <div class="form-group ">
                <label for="Website" class="form-label">Website</label>
                <input type="text" id="Website" class="form-control" ng-model="$ctrl.parentCtrl.employer.ContactWebsite" placeholder="">
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 employer-details-right">
            <div class="form-group ">
                <label for="Email" class="form-label required-label">Email</label>
                <input type="text" id="Email" class="form-control" name="email" ng-model="$ctrl.parentCtrl.employer.Email" placeholder="" required ng-change="emailChange($ctrl.parentCtrl.employer.Email)" ng-focus="onFocusEmail='focusOn'" ng-blur="onFocusEmail=''">
            </div>
            <div class=" form-group">
                <label for="Phone" class="form-label ">Phone</label>
                <div id="Phone" class="input-group">
                    <span class="input-group-addon plus-icon">+</span>
                    <input type="text" id="PhoneExt" class="form-control" numbers-only="true" name="PhoneExt" placeholder="" ng-pattern="/^[0-9]{0,3}$/" maxlength="3" ng-model="$ctrl.parentCtrl.tempObj.Phone.PhoneExt" />
                    <span class="input-group-addon addon-css">-</span>
                    <input type="text" id="Phone1" class="form-control" numbers-only="true" name="phone1" placeholder="" ng-pattern="/^[0-9]{3}$/" maxlength="3" ng-model="$ctrl.parentCtrl.tempObj.Phone.Phone1" required />
                    <span class="input-group-addon addon-css">-</span>
                    <input type="text" id="Phone2" class="form-control" numbers-only="true" name="phone2" placeholder="" ng-pattern="/^[0-9]{3}$/" maxlength="3" ng-model="$ctrl.parentCtrl.tempObj.Phone.Phone2" required />
                    <span class="input-group-addon addon-css">-</span>
                    <input type="text" id="Phone3" class="form-control" numbers-only="true" name="phone3" placeholder="" ng-pattern="/^[0-9]{4}$/" maxlength="4" ng-model="$ctrl.parentCtrl.tempObj.Phone.Phone3" required />
                </div>
            </div>

            <div class="form-group">
                <label for="Fax" class="form-label">Fax</label>
                <div id="Fax" class="input-group">
                    <span class="input-group-addon plus-icon">+</span>
                    <input type="text" id="FaxExt" class="form-control" numbers-only="true" name="faxExt" placeholder="" ng-pattern="/^[0-9]{0,3}$/" maxlength="3" ng-model="$ctrl.parentCtrl.tempObj.Fax.FaxExt" />
                    <span class="input-group-addon addon-css">-</span>
                    <input type="text" id="Fax1" class="form-control" numbers-only="true" name="fax1" placeholder="" ng-pattern="/^[0-9]{3}$/" maxlength="3" ng-model="$ctrl.parentCtrl.tempObj.Fax.Fax1" ng-focus="onFocusFax='focusOn'" ng-blur="onFocusFax=''" ng-change="faxValidation($ctrl.parentCtrl.tempObj.Fax)"
                    />
                    <span class="input-group-addon addon-css">-</span>
                    <input type="text" id="Fax2" class="form-control" numbers-only="true" name="fax2" placeholder="" ng-pattern="/^[0-9]{3}$/" maxlength="3" ng-model="$ctrl.parentCtrl.tempObj.Fax.Fax2" ng-focus="onFocusFax='focusOn'" ng-blur="onFocusFax=''" ng-change="faxValidation($ctrl.parentCtrl.tempObj.Fax)"
                    />
                    <span class="input-group-addon addon-css">-</span>
                    <input type="text" id="Fax3" class="form-control" numbers-only="true" name="fax3" placeholder="" ng-pattern="/^[0-9]{4}$/" maxlength="4" ng-model="$ctrl.parentCtrl.tempObj.Fax.Fax3" ng-focus="onFocusFax='focusOn'" ng-blur="onFocusFax=''" ng-change="faxValidation($ctrl.parentCtrl.tempObj.Fax)"
                    />
                </div>
            </div>
        </div>
    </div>
</form>