<div class="">
    <div class="modal-header" id="modal-header">
        <div class="">
            <h3>Input Text Properties</h3>
        </div>
    </div>
    <div class="modal-body ">
        <div class="form-group row">
            <label for="placeholderTxt" class="col-xs-5 form-label">Placeholder</label>
            <div class="col-xs-6">
                <input class="form-control" id="placeholderTxt" type="text" ng-model="TextInpPropCtrl.prop.placeholder">
            </div>
        </div>
        <div class="form-group row">
            <label for="maxlnField" class="col-xs-5 form-label">Max Length</label>
            <div class="col-xs-6">
                <input class="form-control" id="maxlnField" type="number" min="1" max={{TextInpPropCtrl.prop.maxSize}} ng-model="TextInpPropCtrl.prop.maxLength">
            </div>
        </div>
        <div class="form-group row">
            <label for="requiredAttr" class="col-xs-5 form-label">Required</label>
            <div class="col-xs-6">
                <input id="requiredAttr" type="checkbox" ng-model="TextInpPropCtrl.prop.required" ng-disabled="TextInpPropCtrl.prop.mandatoryField">
                <span ng-show="TextInpPropCtrl.prop.mandatoryField" class="success"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="requiredField" class="col-xs-5 form-label">UI Control Type</label>
            <div class="col-xs-6">
                <div class="select-wrap">
                    <select class="form-control" ng-model="TextInpPropCtrl.prop.controllerType" ng-options="item for item in TextInpPropCtrl.prop.controllerArray">
                        </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="cPatternAttr" class="col-xs-5 form-label">Pattern Validation</label>
            <div class="col-xs-6">
                <input class="form-control" id="cPatternAttr" type="text" ng-model="TextInpPropCtrl.prop.ngPattern">
            </div>
        </div>

    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="TextInpPropCtrl.closeModal()">Close</button>
        <button type="button" class="btn btn-default" data-ng-click="TextInpPropCtrl.save()">Save</button>
    </div>
</div>