<div class="">
    <div class="modal-header" id="modal-header">
        <div class="">
            <h3>Dropdown Properties</h3>
        </div>
    </div>
    <div class="modal-body ">
        <div class="form-group row">
            <label for="defaultTxt" class="col-xs-4 form-label">Default First Option</label>
            <div class="col-xs-6">
                <input class="form-control" id="defaultTxt" type="text" ng-model="DrpdwnPropCtrl.prop.defaultOption">
            </div>
        </div>
        <div class="form-group row">
            <label for="requiredField" class="col-xs-4 form-label">Required</label>
            <div class="col-xs-6">
                <input id="requiredField" type="checkbox" ng-model="DrpdwnPropCtrl.prop.required" ng-disabled="DrpdwnPropCtrl.prop.mandatoryField">
                <span ng-show="DrpdwnPropCtrl.prop.mandatoryField" class="success"></span>
            </div>
        </div>
        <div class="form-group row">
            <label for="requiredField" class="col-xs-4 form-label">UI Control Type</label>
            <div class="col-xs-6">
                <div class="select-wrap">
                    <select class="form-control" ng-model="DrpdwnPropCtrl.prop.controllerType" ng-options="item for item in DrpdwnPropCtrl.prop.controllerArray">
                        </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="DrpdwnPropCtrl.closeModal()">Close</button>
        <button type="button" class="btn btn-default" data-ng-click="DrpdwnPropCtrl.save()">Save</button>
    </div>
</div>