<div class="">
    <div class="modal-header" id="modal-header">
        <div class="">
            <h3>Download File Name</h3>
        </div>
    </div>
    <div class="modal-body row">
        <div class="form-group">
            <div class="col-xs-6">
                <input class="form-control" id="labelTxt" type="text" ng-model="DownloadCtrl.textValue">
            </div>
        </div>
    </div>
    <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="DownloadCtrl.cancel()">Cancel</button>
        <button type="button" class="btn btn-default" data-ng-click="DownloadCtrl.download()">Download</button>
    </div>
</div>